[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-extensions = "*"
django-disqus = "*"
djangorestframework = "*"
django-markdownx = "*"
"psycopg2" = "*"
tweepy = "*"
ipython = "*"

[dev-packages]

[requires]
python_version = "3.6"
