<div class="container">
    <div class="col-md-6 col-md-offset-3">
        <h2>Please enter a Twitter handle:</h2>
    </div>
    <form role="form">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="input-group input-group-lg">
                    <span class = "input-group-addon">@</span>
                    <input type="text" class="form-control" ng-model="handle" />
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-info" ng-click="go(handle)">GO!</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

<div>{{ test }}</div>
</div>
