{% extends "base.html" %}

{% block title %}The Traveling Hacker - About Me{% endblock %}

{% block backgrounds %}about{% endblock %}

{% block tab %}About Me{% endblock %}

{% block tab_description %}This is what I do.{% endblock %}

{% block content %}
    <p align="justify">
    Hi, my name is Diego Mora Cespedes and I am a Bolivian hacker traveling the world. I am currently in my last year of Master's in Computer Science and Engineering. I am passionate about science, programming, traveling, photography and geek culture.
    <br>
    <br>
    This is my personal website, where I will be writing posts about my travels and hacks. Feel free to ping me at any time about anything, especially if it is about Prolog, Squirrels and/or Drones! ;)
    </p>

    <a class="fancybox" rel="group" href="../static/blog/img/squirrel-sweater.jpg">
        <img  src="../static/blog/img/squirrel-sweater.jpg">
    </a>
{% endblock %}

