{% extends "base.html" %}

{% block title %}The Traveling Hacker - About Me{% endblock %}

{% block backgrounds %}about{% endblock %}

{% block tab %}About Me{% endblock %}

{% block tab_description %}This is what I do.{% endblock %}

{% block content %}
    <p align="justify">
        Hi, my name is Diego Mora Cespedes and I am a Bolivian Software Engineer.
        I just graduated from the University of Technology of Belfort-Montbéliard,
        in France with a Master's degree in Computer Science and Engineering.
        I am passionate about science, programming, traveling, photography and geek culture.
        <br>
        <br>
        I am currently looking for a full-time job anywhere in the world.
        <br>
        <br>
        Feel free to take a look at my social media profiles:

        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="https://linkedin.com/in/diegomoracespedes">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                                    </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/Perados">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                    </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/dmoraces">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                    </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/d.moracespedes">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                    </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.flickr.com/photos/111629711@N02">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-flickr fa-stack-1x fa-inverse"></i>
                                    </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.couchsurfing.com/people/mora_diego_mpb">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-plane fa-stack-1x fa-inverse"></i>
                                    </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <br>
        If you are interested, then please take a look at <a href="/static/resume-diego-mora-cespedes.pdf">my resume</a>.
        </p>

        And if you are very interested, then do <a href="/contact">contact me</a>.

        <br>
        <br>

        ...


        <br>
        <br>
        Here, because I know you like squirrels:
        <br>
        <br>
        <a class="fancybox" rel="group" href="../static/blog/img/squirrel-sweater.jpg">
            <img  src="../static/blog/img/squirrel-sweater.jpg">
        </a>
    {% endblock %}

