{% extends "base.html" %}
{% load static from staticfiles %}
{% load django_markdown %}
{% load disqus_tags %}

{% block header %}
    <script type="text/javascript" src="../static/blog/js/fancybox/lib/jquery.mousewheel-3.0.6.pack.js"></script>
    <link rel="stylesheet" href="../static/blog/js/fancybox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
    <script type="text/javascript" src="../static/blog/js/fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $(".fancybox").fancybox();
        });
    </script>
{% endblock %}

{% block title %}The Traveling Hacker - {{ post.title }}{% endblock %}

{% block background %} '../static/blog/img/home-background.jpg' {% endblock %}

{% block content %}
        <div>
            <div class="post-preview">
                    <h2 class="post-title">
                        {{ post.title }}
                    </h2>
                    <h3 class="post-subtitle">
                        {{ post.subtitle }}
                    </h3>
            </div>
            <p>
                {{ post.body_text|markdown }}
            </p>

            <p class="post-meta">Posted by <a href="{% url 'about_me' %}">{{ post.author }}</a> on {{ post.timestamp }}</p>

            <div class="row">
                <div class="col-md-12">
                    <div class="thumbnail center well well-small text-center" style="
            background-color: rgb(0, 205, 252);
        ">
                        <h2>Subscribe!</h2>
                        <h4>So you like traveling? Hacking? Squirrels? Subscribe to my newsletter!</h4>
                        <br>
                        <form id="subscribeForm" onsubmit="subscribe(this); return false;">
                            <div class="form-group col-lg-offset-3 col-lg-6 controls">
                                <input type="email" class="form-control" placeholder="Email Address" name="email" id="email" required data-validation-required-message="Please enter your email address.">
                                <p class="help-block text-danger"></p>
                            </div>
                            <br>
                            <input type="submit" value="Subscribe Now!" class="btn btn-large">
                        </form>
                    </div>
                    <p class="help-block text-danger"></p>
                    <div id="success"></div>
                </div>
            </div>

            <p>{% disqus_show_comments %}</p>

        </div>
        <hr>
    <!-- Pager -->
    <ul class="pager">
        <li class="previous">
            {% if previous_post %}
                <a href="{% url 'posts' previous_post.id %}">Previous post</a>
            {% endif %}
        </li>
        <li class="next">
            {% if next_post %}
                <a href="{% url 'posts' next_post.id %}">Next post</a>
            {% endif %}
        </li>
    </ul>
{% endblock %}


